/*DevComponentTag.razor.css*/
.dev-component-tag {
    position: relative;
    top: 0;
    left: 0;
    opacity: 0.85;
    font-size: 1.3rem;
    pointer-events: none;
    color: red;
    z-index: 9999;
}
